<html>
<body>
    <a href="/" >Home</a>
    <a href="about" >About</a>
    <a href="contact" >Contact</a>
    <a href="books" >Books</a>
    <a href="authors" >Authors</a>
    <h1>About</h1>
</body>
</html>